<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Exclude>[*]AUTD3Sharp.Link.Simulator,[*]AUTD3Sharp.Link.SOEM,[*]AUTD3Sharp.Link.EtherCATAdapter,[*]AUTD3Sharp.Link.RemoteSOEM,[*]AUTD3Sharp.Link.TwinCAT,[*]AUTD3Sharp.Link.RemoteTwinCAT,[*]AUTD3Sharp.Gain.Holo.CUDABackend,[*]AUTD3Sharp.NativeMethods.*,[*]AUTD3Sharp.Derive.*</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
